{% if error == 'AmazonRejected' %}
    <div class="alert alert-danger">Ihre Zahlung wurde von Amazon Pay abgelehnt - bitte verwenden Sie daher eine andere
        Zahlungsart.
    </div>
    <script type="text/javascript">
        var amazonPayAction = 'logout';
    </script>
{% endif %}
<div class="amzPayButton"></div>
