{% if error == 'AmazonRejected' %}
    <div class="alert alert-danger">{{ trans("AmazonLoginAndPay::AmazonPay.paymentDeclinedInfo") }}
    </div>
    <script type="text/javascript">
        var amazonPayAction = 'logout';
    </script>
{% endif %}

<div class="amzPayButton"></div>
