{% extends getPartial('page-design') %}
{% block PageBody %}
    <div class="container-max">
        <div style="padding:5em 0;">
            {{ trans("AmazonLoginAndPay::AmazonPay.loginPleaseWait") }}
        </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}